[Unit]
Description=PGSParkLite Pedal Software

[Service]
Type=simple
ExecStart=/home/pi/PGSparkLite-Pedal/pgsparklite-pedal.sh
Restart=always

[Install]
WantedBy=multi-user.target